In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('date.csv', header = None)
print(df.head(2))

            0  1
0  2013-10-24  3
1  2013-10-25  4

In [76]:
df.columns = ['date', 'number']
df['date'] = pd.to_datetime(df['date'])
df = df.set_index('date')
print(df.head(2))
print(df.tail(2))
print(df.shape)

            number
date
2013-10-24       3
2013-10-25       4
            number
date
2017-02-14       6
2017-02-22       6
(425, 1)

In [77]:
print(type(df))
print(df.index)
print(type(df.index))

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex(['2013-10-24', '2013-10-25', '2013-10-29', '2013-10-30',
               '2013-11-04', '2013-11-06', '2013-11-08', '2013-11-12',
               '2013-11-14', '2013-11-25',
               ...
               '2017-01-03', '2017-01-07', '2017-01-14', '2017-01-17',
               '2017-01-23', '2017-01-25', '2017-01-26', '2017-02-07',
               '2017-02-14', '2017-02-22'],
              dtype='datetime64[ns]', name='date', length=425, freq=None)
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [78]:
s = pd.Series(df['number'], index = df.index)
print(type(s))
s.head(2)

<class 'pandas.core.series.Series'>

date
2013-10-24    3
2013-10-25    4
Name: number, dtype: int64

In [79]:
print('--------- 获 取 2013 年 的 数 据 -----------')
print(df['2013'].head(2))
print(df['2013'].tail(2))

--------- 获 取 2013 年 的 数 据 -----------
            number
date
2013-10-24       3
2013-10-25       4
            number
date
2013-12-27       2
2013-12-30       2

<ipython-input-79-41ebc5c5eb8c>:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  print(df['2013'].head(2))
<ipython-input-79-41ebc5c5eb8c>:3: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  print(df['2013'].tail(2))

In [80]:
print('--------- 获 取 2016 至 2017 年 的 数 据 -----------')
print(df['2016':'2017'].head(2))
print(df['2016':'2017'].tail(2))

--------- 获 取 2016 至 2017 年 的 数 据 -----------
            number
date
2016-01-04       4
2016-01-07       6
            number
date
2017-02-14       6
2017-02-22       6

In [81]:
print('--------- 获 取 某 月 的 数 据 -----------')
print(df['2013-11'])

--------- 获 取 某 月 的 数 据 -----------
            number
date
2013-11-04       1
2013-11-06       3
2013-11-08       1
2013-11-12       5
2013-11-14       2
2013-11-25       1
2013-11-29       1

<ipython-input-81-3d5d3d18c585>:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  print(df['2013-11'])

In [82]:
print('--------- 获 取 具 体 某 天 的 数 据 -----------')
print(s['2013-11-06'])
print(df['2013-11-06':'2013-11-06'])

--------- 获 取 具 体 某 天 的 数 据 -----------
3
            number
date
2013-11-06       3

In [83]:
print('--------- 获 取 某 个 时 期 之 前 或 之 后 的 数 据 -----------')
print('--------after------------')
print(df.truncate(after = '2013-11'))
print('--------before------------')
print(df.truncate(before = '2017-02'))

--------- 获 取 某 个 时 期 之 前 或 之 后 的 数 据 -----------
--------after------------
            number
date
2013-10-24       3
2013-10-25       4
2013-10-29       2
2013-10-30       1
--------before------------
            number
date
2017-02-07       8
2017-02-14       6
2017-02-22       6

In [84]:
df_period = df.to_period('M')
print(type(df_period))
print(type(df_period.index))
print(df_period.head())

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.indexes.period.PeriodIndex'>
         number
date
2013-10       3
2013-10       4
2013-10       2
2013-10       1
2013-11       1

In [85]:
print(df.to_period('A').head())

      number
date
2013       3
2013       4
2013       2
2013       1
2013       1

In [86]:
df_period.index.asfreq('A')

PeriodIndex(['2013', '2013', '2013', '2013', '2013', '2013', '2013', '2013',
             '2013', '2013',
             ...
             '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017',
             '2017', '2017'],
            dtype='period[A-DEC]', name='date', length=425, freq='A-DEC')

In [87]:
df_period.index.asfreq('A-JAN')

PeriodIndex(['2014', '2014', '2014', '2014', '2014', '2014', '2014', '2014',
             '2014', '2014',
             ...
             '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2018',
             '2018', '2018'],
            dtype='period[A-JAN]', name='date', length=425, freq='A-JAN')

In [88]:
df_period.index.asfreq('Q')

PeriodIndex(['2013Q4', '2013Q4', '2013Q4', '2013Q4', '2013Q4', '2013Q4',
             '2013Q4', '2013Q4', '2013Q4', '2013Q4',
             ...
             '2017Q1', '2017Q1', '2017Q1', '2017Q1', '2017Q1', '2017Q1',
             '2017Q1', '2017Q1', '2017Q1', '2017Q1'],
            dtype='period[Q-DEC]', name='date', length=425, freq='Q-DEC')

In [89]:
df_period.index.asfreq('Q-SEP')

PeriodIndex(['2014Q1', '2014Q1', '2014Q1', '2014Q1', '2014Q1', '2014Q1',
             '2014Q1', '2014Q1', '2014Q1', '2014Q1',
             ...
             '2017Q2', '2017Q2', '2017Q2', '2017Q2', '2017Q2', '2017Q2',
             '2017Q2', '2017Q2', '2017Q2', '2017Q2'],
            dtype='period[Q-SEP]', name='date', length=425, freq='Q-SEP')

In [90]:
df_period.index.asfreq('M')

PeriodIndex(['2013-10', '2013-10', '2013-10', '2013-10', '2013-11', '2013-11',
             '2013-11', '2013-11', '2013-11', '2013-11',
             ...
             '2017-01', '2017-01', '2017-01', '2017-01', '2017-01', '2017-01',
             '2017-01', '2017-02', '2017-02', '2017-02'],
            dtype='period[M]', name='date', length=425, freq='M')

In [91]:
df_period.index.asfreq('B', how='start')

PeriodIndex(['2013-10-01', '2013-10-01', '2013-10-01', '2013-10-01',
             '2013-11-01', '2013-11-01', '2013-11-01', '2013-11-01',
             '2013-11-01', '2013-11-01',
             ...
             '2017-01-02', '2017-01-02', '2017-01-02', '2017-01-02',
             '2017-01-02', '2017-01-02', '2017-01-02', '2017-02-01',
             '2017-02-01', '2017-02-01'],
            dtype='period[B]', name='date', length=425, freq='B')

In [92]:
df_period.index.asfreq('B', how='end')

PeriodIndex(['2013-10-31', '2013-10-31', '2013-10-31', '2013-10-31',
             '2013-11-29', '2013-11-29', '2013-11-29', '2013-11-29',
             '2013-11-29', '2013-11-29',
             ...
             '2017-01-31', '2017-01-31', '2017-01-31', '2017-01-31',
             '2017-01-31', '2017-01-31', '2017-01-31', '2017-02-28',
             '2017-02-28', '2017-02-28'],
            dtype='period[B]', name='date', length=425, freq='B')

In [97]:
print(df.resample('W').sum().head())

            number
date
2013-10-27       7
2013-11-03       3
2013-11-10       5
2013-11-17       7
2013-11-24       0

In [99]:
print(df.resample('M').sum().head())

            number
date
2013-10-31      10
2013-11-30      14
2013-12-31      27
2014-01-31      16
2014-02-28       4

In [100]:
print(df.resample('Q').sum().head())

            number
date
2013-12-31      51
2014-03-31      73
2014-06-30      96
2014-09-30     136
2014-12-31     148

In [110]:
print(df.resample('AS').sum().head())

            number
date
2013-12-31      51
2014-12-31     453
2015-12-31     743
2016-12-31    1552
2017-12-31      92

In [112]:
print(df.resample('AS').sum().to_period('A'))

      number
date
2013      51
2014     453
2015     743
2016    1552
2017      92

In [114]:
print(df.resample('Q').sum().to_period('A').head())

        number
date
2013Q4      51
2014Q1      73
2014Q2      96
2014Q3     136
2014Q4     148

In [117]:
print(df.resample('M').sum().to_period('A').head())

      number
date
2013      10
2013      14
2013      27
2014      16
2014       4