In [103]:
import pandas as pd

In [104]:
s = pd.Series({'a':1, 'b':2, 'c':3})
s

a    1
b    2
c    3
dtype: int64

In [105]:
s.index

Index(['a', 'b', 'c'], dtype='object')

In [106]:
list_custom = ['b', 'a', 'c']
list_custom

['b', 'a', 'c']

In [107]:
df = pd.DataFrame(s)
df = df.reset_index()
df.columns = ['words', 'number']
df

  words  number
0     a       1
1     b       2
2     c       3

In [108]:
df['words'] = df['words'].astype('category')
df['words'].cat.reorder_categories(list_custom, inplace=True)
df.sort_values('words', inplace=True)
df

  words  number
1     b       2
0     a       1
2     c       3

In [109]:
list_custom_new = ['d', 'c', 'a', 'e']
dict_new = {'e':1 , 'b':2, 'c':3}
df_new = pd.DataFrame(list(dict_new.items()), columns=['words', 'value'])
print(list_custom_new)
df_new.sort_values('words', inplace=True)
df_new

['d', 'c', 'a', 'e']

  words  value
1     b      2
2     c      3
0     e      1

In [110]:
df_new['words'] = df_new['words'].astype('category')
df_new['words'].cat.set_categories(list_custom_new, inplace=True)
df_new.sort_values('words', ascending=True)

  words  value
2     c      3
0     e      1
1   NaN      2

In [93]:
list_custom_new = ['d', 'c', 'b','a', 'e']
dict_new = {'e':1 , 'b':2, 'c':3}
df_new = pd.DataFrame(list(dict_new.items()), columns=['words', 'value'])
print(list_custom_new)
df_new.sort_values('words', inplace=True)
df_new

['d', 'c', 'b', 'a', 'e']

  words  value
1     b      2
2     c      3
0     e      1

In [101]:
df_new['words'] = df_new['words'].astype('category')
df_new['words'].cat.set_categories(list_custom_new, inplace=True)
df_new.sort_values('words', ascending=True)

  words  value
2     c      3
1     b      2
0     e      1